[Desktop Entry]
Version={{Version}}
Name=PicaComic
GenericName=PicaComic
Comment=pica comic
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;comic;images;